.display {
    position: absolute;
    width: 100%;
    top: 130px;
    bottom: 0;
}

.display .iframe-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: solid #3A3A3A 1px;
    box-shadow: 5px 5px 0 0 #8E8A8A;
}

.display .iframe-wrapper iframe {
    height: 100%;
    width: 100%;
}