.display {
    position: absolute;
    width: 100%;
    top: 71px;
    bottom: 0;
    display: none;
    background: #FFF;
}

.display.visible {
    display: block;
}

.display iframe {
    height: 100%;
    width: 100%;
    z-index: 1000;
    position: relative;
    visibility: hidden;
    background: #fff;
}

.display iframe.loaded {
    visibility: visible;
}

.spinner {
    display: block;
    margin-left: -10px;
    margin-top: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.display iframe.loaded .spinner {
    display: none;
}

.cube1, .cube2 {
    background-color: #3A3A3A;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: cubemove 0.8s infinite ease-in-out;
    animation: cubemove 0.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

@-webkit-keyframes cubemove {
    25% { -webkit-transform: translateX(20px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(20px) translateY(20px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(20px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
    25% {
        transform: translateX(20px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(20px) rotate(-90deg) scale(0.5);
    } 50% {
        transform: translateX(20px) translateY(20px) rotate(-179deg);
        -webkit-transform: translateX(20px) translateY(20px) rotate(-179deg);
    } 50.1% {
        transform: translateX(20px) translateY(20px) rotate(-180deg);
        -webkit-transform: translateX(20px) translateY(20px) rotate(-180deg);
    } 75% {
        transform: translateX(0px) translateY(20px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(20px) rotate(-270deg) scale(0.5);
    } 100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

a.display-close-button {
    display: block;
    position: absolute;
    top: -70px;
    right: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 23px;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    transition: all .3s ease-out;
}

a.display-close-button:hover {
    transform: rotate(180deg);
}

.x {
    width: 24px;
    height: 24px;
    float:left;
    position:relative;
    margin:0;
    padding:0;
    overflow:hidden;
    background: #3A3A3A;
    cursor:pointer;
}

.x b {
    display:block;
    position:absolute;
    height:0;
    width:0;
    padding:0;
    margin:0;
}
.x b {
    border:12px solid rgba(255,255,255,0);
}
.x b:nth-child(1){
    border-top-color:#FFF;
    top:-2px;
}
.x b:nth-child(2){
    border-left-color:#FFF;
    left:-2px;
}
.x b:nth-child(3){
    border-bottom-color:#FFF;
    bottom:-2px;
}
.x b:nth-child(4){
    border-right-color:#FFF;
    right:-2px;
}