.display {
    position: absolute;
    width: 100%;
    top: 71px;
    bottom: 0;
    display: none;
    background: #FFF;
}

.display.visible {
    display: block;
}

.display iframe {
    height: 100%;
    width: 100%;
}

a.display-close-button {
    display: block;
    position: absolute;
    top: -70px;
    right: 0;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: red;
}
