html, body {
    min-height: 100%;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #34B6A4;
}

h1 {
    font-size: 1.9em;
}

h1, h2, h3 {
    padding: 0.5em 0;
}

p {
    font-size: 1em;
    padding: 1em 0;
}

img {
    display: block;
}

.content-box {
    padding: 0 10px;
}

.section {
    margin: 10px 0;
}

.float-left {
    float: left;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* ie 6/7 */
}