.navigation a {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    float: left;
    height: 59px;
    width: 59px;
    margin-right: 20px;
    cursor: pointer;
    border: solid #3A3A3A 1px;
    box-shadow: 5px 5px 0 0 #8E8A8A;
    transition: box-shadow 0.1s, top 0.1s, left 0.1s;
}

.navigation a:hover {
    top: 3px;
    left: 3px;
    box-shadow: 2px 2px 0 0 #8E8A8A;
}

.navigation a.selected {
    top: 5px;
    left: 5px;
    box-shadow: 0 0 0 0 #8E8A8A;
}